<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Login Form</title>
    </h:head>
    <h:body>

           <!--       <form method="POST" action="j_security_check">
                      Username: <input type="text" name="j_username" />
                      Password: <input type="password" name="j_password" />
                      <br />
                      <input type="submit" value="Login" />
                      <input type="reset" value="Reset" />
                  </form> -->


<!--             <h:form id="loginForm" onsubmit="document.loginForm.action = 'j_security_check';">   -->
<!--                 <h:outputLabel value="Username"></h:outputLabel>   -->
<!--                 <input name="j_username" type="text" />   -->
<!--                 <h:outputLabel value="Password"></h:outputLabel>   -->
<!--                 <input name="j_password" size="15" type="password" />   -->
<!--                 <h:commandButton value="Login"></h:commandButton>   -->
<!--             </h:form>   -->

		   <h:form id="loginForm">  
                <h:outputLabel for="username" value="Username:" />  
                <h:inputText id="username" value="#{loginBean.username}" />  
                                 
                <h:outputLabel for="password" value="Password:" />  
                <h:inputSecret id="password" value="#{loginBean.password}" />  
                                 
                <h:commandButton id="loginButton" value="Login" action="#{loginBean.login}" />  
                
     	  </h:form> 
          
          
    </h:body>
</html>

